*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body{
	background-image: url(../imagenes/fondo3.jpg);
	font-family: 'Josefin Sans', sans-serif;
}
                                                         /*css compartido*/
%flexrow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
%flexcolumn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin escala($w, $h){
	width: $w;
	height: $h;
}
$colores:(
    blanco: white,
    negro: black,
    buki:  #bf957f,
	gris: lightgrey
);
#header{
	@include escala(100%, 120px);
	background-color: map-get($colores, negro);
	position: sticky;
	z-index: 100;
	padding: 0 10% 0 10%;
	@extend %flexrow;
	justify-content: space-between;
	align-items: center;
    @media all and (max-width: 992px){
        height: 110px;
		padding: 0 9% 0 9%;
    }
    @media all and (max-width: 768px){
        height: 100px;
		padding: 0 8% 0 8%;
    }
    @media all and (max-width: 576px){
        padding: 0 7% 0 7%;
		height: 90px;
    }
    @media all and (max-width: 394px){
        padding: 0 5% 0 5%;
		height: 80px;
    }
    .logo{
        height: 90px;
        border-radius: 35px;
        @media all and (max-width: 992px){
            height: 80px;
        }
        @media all and (max-width: 768px){
            height: 70px;
        }
        @media all and (max-width: 576px){
            height: 60px;
        }
        @media all and (max-width: 394px){
            height: 50px;
        }
    }
    .texthe{
        list-style-type: none;
        font-family: 'Josefin Sans', sans-serif;
        @extend %flexrow;
        padding: 0;
    }
    .nav{
        color: map-get($colores, blanco);
        text-decoration: none;
        font-size: 1.3rem;
        margin-left: 70px;
        @media all and (max-width: 992px){
            margin-left: 50px;
            font-size: 1.1rem;
        }
        @media all and (max-width: 768px){
            font-size: 0.9rem;
            margin-left: 30px;
        }
        @media all and (max-width: 576px){
            font-size: 0.7rem;
            margin-left: 20px;
        }
        @media all and (max-width: 394px){
            font-size: 0.55rem;
            margin-left: 11px;
        }
        &:hover{
            text-decoration: underline;
            color: map-get($colores, buki);
            opacity: 0.9;
        }
    }
}
.producto{
	border: solid 20px map-get($colores, negro);
	background-color: map-get($colores, negro);
	border-radius: 10px;
	transition: all 250ms;
    &:hover{
        transform: scale(1.15);
		box-shadow: 0 1px 10px 1px map-get($colores, negro);
    }
}
#footer{
	@include escala(100%, 120px);
	background-color: map-get($colores, negro);
	position: sticky;
	z-index: 100;
	display: flex;
	@extend %flexrow;
    @media all and (max-width: 992px){
        height: 110px;
    }
    @media all and (max-width: 768px){
        height: 100px;
    }
    @media all and (max-width: 576px){
        height: 90px;
    }
    @media all and (max-width: 394px){
        height: 80px;
    }
    .navfoot, .redes, .pagosinfo{
        width: 33.33333%;
        display: flex;
        @extend %flexcolumn;
    }
    .navfoot, .redes{
        @media all and (max-width: 576px){
            width: 50%;
        }
    }
    .pagosinfo{
        @media all and (max-width: 576px){
            width: 0%;
		    opacity: 0;
        }
    }
    .insta{
        height: 35px;
        margin-top: 25px;
        @media all and (max-width: 992px){
            height: 30px;
            margin-top: 20px;
        }
        @media all and (max-width: 768px){
            height: 25px;
            margin-top: 15px;
        }
        @media all and (max-width: 576px){
            height: 30px;
            margin-top: 0;
        }
        @media all and (max-width: 394px){
        
        }
    }
    .re{
        color: map-get($colores, blanco);
        font-size: 1rem;
        text-align: center;
        @media all and (max-width: 992px){
            font-size: 0.9rem;
        }
        @media all and (max-width: 768px){
            font-size: 0.8rem;
        }
        @media all and (max-width: 576px){
            font-size: 0.7rem;
        }
    }
    .pagos{
        height: 70px;
        @media all and (max-width: 992px){
            height: 60px;
        }
        @media all and (max-width: 768px){
            height: 50px;
        }
        @media all and (max-width: 576px){
            height: 5px;
        }
    }
}
                                                   /*INDEX*/
.containergrid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
    #header{
        grid-column: 1/4;
    }
    .banner{
        grid-column: 1/4;
        border: solid 5px map-get($colores, negro);
        border-radius: 5px;
        padding: 0;
        width: 90%;
        margin: 0 5%;
    }
    .relleno{
        grid-column: 1/4;
        display: flex;
	    flex-wrap: wrap;
	    width: 100%;
	    justify-self:center;
	    padding: 0 5% 0 5%;
        .info{
            width: 33.33333%;
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-self: center;
			font-size: 1.2rem;
			font-family: 'Josefin Sans', sans-serif;
            @media all and (max-width: 1100px){
                width: 100%;
                font-size: 1rem;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
			.bold{
				font-weight: 500
			}
            p{
                margin: 0 0 0 5px;
				font-weight: 100;
            }
            img{
                height: 70px;
                @media all and (max-width: 992px){
                    height: 50px;
                }
				@media all and (max-width: 600px){
                    height: 40px;
                }
            }
            .cuadrado{
                height: 10px;
                border-bottom: map-get($colores, negro);
                width: 100%
            }
        }
    }
    .productosdesta{
        grid-column: 1/4;
        .pdtext{
            margin-top: 70px;
            margin-bottom: 50px;
			font-weight: 700;
            font-size: 2.5rem;
			@extend %flexrow;
            @media all and (max-width: 992px){
                margin-top: 50px;
                font-size: 2rem;
            }
            @media all and (max-width: 768px){
                margin-top: 40px;
                font-size: 1.8rem;
            }
            @media all and (max-width: 576px){
                margin-top: 30px;
                font-size: 1.5rem;
            }
            @media all and (max-width: 394px){
                margin-top: 25px;
                font-size: 1.2rem;
            }
        }
    }
    #footer{
        grid-column: 1/4;
        
    }
    
}
/*RESTO DEL CSS SIN HACERLO SAS*/
/*PRODUCTOS*/
.cproductos{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 50px;
}

.cproductos #header{
	grid-column: 1/4;
}
.cproductos .allproducts{
	grid-column: 1/4;
}
.cproductos .pd{
	grid-column: 1/4;
}
.cproductos #footer{
	grid-column: 1/4;
}
.allproducts{
	margin-left: 5%;
}
.allp{
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
.allpo{
	font-size: 1rem;
}
/*RESPONSIVE*/
@media all and (max-width: 992px){
	.allp{
		font-size: 1.8rem;
	}
	.allpo{
		font-size: 0.9rem;
	}
}
@media all and (max-width: 769px){
	.allp{
		font-size: 1.6rem;
	}
	.allpo{
		font-size: 0.8rem;
	}
}
@media all and (max-width: 576px){
	.allp{
		font-size: 1.4rem;
	}
	.allpo{
		font-size: 0.6rem;
	}
}
/*PREGUNTAS*/
.preguntasf{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
}

.preguntasf #header{
	grid-column: 1/4;
}
.preguntasf .preguntas{
	grid-column: 1/4;
}
.preguntasf #footer{
	grid-column: 1/4;
}
.preguntas{
	margin: 0 10%;
	line-height: 1.8;
}
.ptext{
	margin-bottom: 3%;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
.prtext{
	font-size: 1.2rem;
	font-weight:bold;
}
.retext{
	font-size: 1.1rem;
	margin-left: 3%;
}
/*RESPONSIVE*/
@media all and (max-width: 992px){
	.ptext{
		font-size: 1.8rem;
	}
	.prtext{
		font-size: 1.1rem;
	}
	.retext{
		font-size: 1rem;
	}
}
@media all and (max-width: 769px){
	.ptext{
		font-size: 1.6rem;
	}
	.prtext{
		font-size: 1rem;
	}
	.retext{
		font-size: 0.9rem;
	}
}
@media all and (max-width: 576px){
		.ptext{
		font-size: 1.4rem;
	}
	.prtext{
		font-size: 0.9rem;
	}
	.retext{
		font-size: 0.8rem;
	}
}
@media all and (max-width: 394px){
	.ptext{
		font-size: 1.2rem;
	}
	.prtext{
		font-size: 0.8rem;
	}
	.retext{
		font-size: 0.7rem;
	}
}
/*CONTACTOS*/
.ccontacto{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
}

.ccontacto #header{
	grid-column: 1/4;
}
.ccontacto .ctext{
	grid-column: 1/4;
}
.ccontacto .contacto{
	grid-column: 1/4;
}
.ccontacto #footer{
	grid-column: 1/4;
}
.ctext{
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	margin-left: 5%;
}
.contacto{
	display: flex;
	flex-direction: row;

}
.fcontacto{
	margin: 0 5%;
	@include escala(40%, 450px);
	background-color: map-get($colores, negro);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0.9;
}
.form{
	@include escala(95%, 15%);
	background-color: map-get($colores, negro);
	color: map-get($colores, blanco);
	font-size: 1.3rem;
	border: none;
}
textarea{
	@include escala(95%, 25%);
	background-color: map-get($colores, negro);
	color: map-get($colores, blanco);
	font-size: 1.3rem;
	border: none;
}
.botone{
	@include escala(35%, 8%);
	font-size: 1.4rem;
	background-color: map-get($colores, gris);
	border-radius: 20px;
}
.otro{
	width: 40%;
	margin: 0 5%;
}
.mail{
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.mail img{
	height: 35px;
	margin: 0 1%;
}
.mail p{
	font-size: 1.2rem;
}
.otraredes{
	margin-top: 3%;
	display: flex;
	flex-direction: column;
}
.otraredes p{
	font-size: 1.8rem;
}
.otraredes img{
	width: 50px;
	margin-right: 1%;
}
.otraredes div{
	display: flex;
	align-items: center;
	margin: 2% 0 0 3%;
}
.otraredes div p{
	font-size: 1.3rem;
}
/*RESPONSIVE*/
@media all and (max-width: 992px){
	.ctext{
		font-size: 1.8rem;
	}
	.form{
		font-size: 1.1rem;
	}
	textarea{
		font-size: 1.1rem;
	}
	.botone{
		font-size: 1.2rem;
	}
	.mail img{
		height: 30px;
	}
	.mail p{
		font-size: 1rem;
	}
	.otraredes p{
		font-size: 1.6rem;
	}
	.otraredes img{
		width: 45px;
	}
	.otraredes div p{
	font-size: 1.1rem;
	}
}
@media all and (max-width: 769px){
	.ctext{
		font-size: 1.6rem;
	}
	.contacto{
		flex-direction: column;
	}
	.fcontacto{
		@include escala(90%, 400px);
	}
	.otro{
		width: 90%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: end;
		margin-top: 4%;
	}
}
@media all and (max-width: 576px){
	.ctext{
		font-size: 1.4rem;
	}
	.fcontacto{
		height: 350px;
	}
	.form{
		font-size: 1rem;
	}
	textarea{
		font-size: 1rem;
	}
	.botone{
		font-size: 1.1rem;
	}
	.mail img{
		height: 25px;
	}
	.mail p{
		font-size: 0.9rem;
	}
	.otraredes p{
		font-size: 1.2rem;
	}
	.otraredes img{
		width: 35px;
	}
	.otraredes div p{
	font-size: 1rem;
	}
}
@media all and (max-width: 394px){
	.ctext{
		font-size: 1.4rem;
	}
	.fcontacto{
		height: 300px;
	}
	.form{
		font-size: 0.9rem;
	}
	textarea{
		font-size: 0.9rem;
	}
	.botone{
		font-size: 1rem;
	}
	.mail img{
		height: 20px;
	}
	.mail p{
		font-size: 0.8rem;
	}
	.otraredes p{
		font-size: 1.1rem;
	}
	.otraredes img{
		width: 30px;
	}
	.otraredes div p{
	font-size: 0.9rem;
	}
}
/*PRODUCTO1*/
.productosgrid{
	width: 90%;
	margin: 0 5%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-gap: 30px;
}
.productosgrid .imgproducto{
	grid-column: 1/3;
	grid-row: 2/4;
}
.productosgrid .titulop{
	grid-column: 3/6;
	grid-row: 2/3;
}
.productosgrid .descripp{
	grid-column: 3/5;
	grid-row: 3/4;
}
.productosgrid .pagosp{
	grid-column: 5/6;
	grid-row: 3/4;
}

.imgproducto img{
	object-fit: cover;
	width: 100%;
	border: solid 10px map-get($colores, negro);
	border-radius: 10px;
}
.titulop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}
.descripp{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}
.accordion{
	border: solid 5px map-get($colores, negro);
	border-radius: 5px;
}
.formasp{
	border-top: solid 5px map-get($colores, negro);
}
.accordion img{
	width: 60px;
	margin: 5px;
}
.fpp{
	padding: 0.5rem;
}
.fptext{
	font-size: 1.3rem;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}
.accordion-button::after{
	background-image: url(../imagenes/flechaabajo.png);
}
.accordion-button:not(.collapsed)::after{
	background-image: url(../imagenes/flechaabajo.png);
}

/*RESPONSIVE*/
@media all and (max-width: 992px){
	.productosgrid .imgproducto{
		grid-column: 1/4;
		grid-row: 2/4;
	}
	.productosgrid .titulop{
		grid-column: 4/6;
		grid-row: 2/3;
	}
	.productosgrid .descripp{
		grid-column: 4/6;
		grid-row: 3/4;
	}
	.productosgrid .pagosp{
		grid-column: 1/6;
		grid-row: 4/5;
	}
	.titulop{
		font-size: 1.3rem;
	}
	.descripp{
		font-size: 1.1rem;
	}
	.fptext{
		font-size: 1.2rem;
	}
}
@media all and (max-width: 769px){
	.productosgrid .imgproducto{
		grid-column: 1/6;
		grid-row: 2/3;
	}
	.productosgrid .titulop{
		grid-column: 1/6;
		grid-row: 3/4;
	}
	.productosgrid .descripp{
		grid-column: 1/6;
		grid-row: 4/5;
	}
	.productosgrid .pagosp{
		grid-column: 1/6;
		grid-row: 5/6;
	}
	.imgproducto img{
		width: 94%;
		margin: 0 3%;
    }
}